*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  z-index: 2;
}
#playground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  z-index: 1;
}
#level{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.menu-container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: 3;
  font-family: "Fredericka the Great";
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.menu{
  display: none;
  position: absolute;
  background-color: #3057E1;
  border-radius: 15px;
  box-shadow: 0px 0px 2px white;
}
#main-menu{
  width: 350px;
}
#pause-menu{
  width: 400px;
}
#level-selection-menu{
  width: 450px;
}
#controls-menu{
  width: 600px;
}
#best-time{
  font-family: "Fredericka the Great";
  color: white;
  font-size: 24px;
  font-weight: 600;
  display: block;
  padding: 5px 15px 5px 15px;
  margin: 0px 15px 10px 15px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
#end-menu-time{
  font-size: 24px;
  font-weight: 600;
}
#current-time{
  z-index: 3;
  font-family: "Fredericka the Great";
  color: white;
  font-size: 24px;
  font-weight: 400;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 135px;
  padding: 5px 15px 5px 15px;
  background-color: #3057E1;
  border-width: 1.5px;
  border-color: white;
  border-style: solid;
}
.menu-header{
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 10px;
  padding: 15px;
}
.menu-header-title{
  font-size: 60px;
}
.menu-item{
  text-align: center;
  color: white;
  background-color: #3057E1;
  height: auto;
  width: auto;
  margin: 10px;
  padding: 15px;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 0px 0px 3px white;
}
.menu-item:hover{
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 1px 8px white;
}
.menu-section{
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px white;
}
.menu-section-separator{
  border-width: 0px 0px 0.01px 0px;
  border-color: white;
  opacity: 0.3;
  border-style: solid;
  height: 0px;
  margin: 15px 25px 15px 25px;
  box-shadow: 0px 0px 3px white;
}
#menu-scroll-levels{
  font-size: 0px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 3px white;
  margin: 0px 15px 15px 15px;
}
.menu-section-header{
  font-size: 30px;
  margin-bottom: 10px;
}
.menu-section-content{
  font-size: 18px;
}
.level-select{
  opacity: 0.5;
  display: inline-block;
  text-align: center;
  margin: 8px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px white;
}
.level-select.selectable{
  opacity: 1;
}
.level-select.selectable:hover{
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 0px 5px white;
}
